{{ define "main" }}
    <div class="row mt-5">
      <div class="col-md-8 text-center">
        <div class="card">
          <div class="card-body">
            <h2>What is EQE?</h2>
            <p class="card-text">Event-Centric Query Expansion (EQE) is a real-time and efficient query expansion 
              framework designed for timely search scenarios. It is proposed by researchers from Tencent QQ 
              Browser Search and deployed in a real production environment.  </p>
            <img class="card-img" src="/img/system.png">

            <p class="card-text">For more details, please refer to our ACL Industry 2023 paper:</p>
            <a href="https://arxiv.org/abs/2305.19019" class="btn btn-primary" target="_blank">(Zhang2023EventCentricQE)</a>
            <p class="card-text"> </p>

            <h3>One More Thing</h3>
            <p class="card-text">We disclose an annotated test
              dataset for <code>Event Reformulation</code>, which is called Title2EventPhrase.
              This open dataset features a large-scale collection of human-annotated Chinese titles and includes 
              41,000 <code>&lt;headline, event&gt;</code> pairs.
              
              Further details can be found at</p>
              <a href="/title2eventphrase" class="btn btn-primary" target="_blank">title2eventphrase</a>
            
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-body">
            <h2>Citation</h2>
            <p class="card-text">If you find this project helpful to your research or use the code or data 
              from this project, please cite our paper.</p>
            <pre class="text-left">
  @inproceedings{Zhang2023EventCentricQE,
    title={Event-Centric Query Expansion in Web Search},
    author={Yanan Zhang and Weijie Cui and Yangfan Zhang and Xiaoling Bai and Zhe Zhang and Jin Ma and Xiang Chen and Tianhua Zhou},
    year={2023}
  }
            </pre>
          </div>
        </div>
      </div>

    </div>
{{ end }}

{{ define "extrajs" }}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{{ end }}
